.avatar {
    max-width: 200px;
    width: 100%;
    height: 200px;
    margin: 0 auto 20px;
}
.info {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 20px;
}
.session  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto 20px;
}